:root {
    /* Background */
    --background: #212B3B;
    --background-secondary: #1A202C;
    
    /* Colors */
    --color-one: #2D3748;
    --color-two: #718096;
    --color-three: #A0AEC0;
    --color-four: #E2E8F0;
    --color-five: #ED8936;
    --color-six: #435068;

    /* Hover */
    --color-hover: #CE6211;

    /* Line */
    --color-line-primary: linear-gradient(90deg, #CE6211 16.42%, rgba(237, 137, 54, 0) 87.36%);;
    --color-line-secondary: #E2E8F0;
    --color--line-three: linear-gradient(314.69deg, rgba(159, 80, 20, 0) 0%, #9E4F13 91.5%);    

    /* Configs */
    --scrollbar-color: #4d4d57;
    --scrollbar-background: transparent;
    --font-primary: 900 15px 'Overpass', sans-serif, Arial, Helvetica, serif;
    --font-secondary: 500 15px 'Inter', sans-serif, Arial, Helvetica, serif;
}

.cookieConsentContainer {
  z-index: 999;
  width: 500px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 15px;
  background: var(--background-secondary);
  overflow: hidden;
  position: fixed;
  top: 30px;
  right: 30px;
  display: none;
}

.cookieConsentContainer {
    border: 3px solid;
    border-image: var(--color--line-three) 1;
}

.cookieConsentContainer .cookieTitle a {
    font: var(--font-primary);
    color: var(--color-three);
    font-size: 25px;
    display: block;
}

.cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    font: var(--font-secondary);
    color: var(--color-two);
    letter-spacing: 0.7px;
    text-align: justify;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
}

.cookieConsentContainer .cookieDesc a {
    font: var(--font-secondary);
    color: var(--color-two);
    text-decoration: underline;
}

.cookieDesc a:hover {
    color: var(--color-hover);
    transition: 0.5s;
}

.cookieConsentContainer .cookieButton a {
    font: var(--font-secondary);
    color: var(--color-three);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    display: inline-block;
    border: 1px solid var(--color-hover);
    margin-top: 14px;
    background: transparent;
    box-sizing: border-box;
    padding: 12px 20px;
    text-align: center;
    transition: background 0.3s;
}

.cookieConsentContainer .cookieButton a:hover {
  cursor: pointer;
  background: var(--color-hover);
  color: var(--color-four);
}

@media (max-width: 980px) {
    .cookieConsentContainer {
        top: inherit;
        right: 0;
        bottom: 15px;
        left: 0;
        width: 100%;
        max-width: 80%;
        margin: auto;
        height: fit-content;
    }
}

@media screen and (max-width: 425px) {
    .cookieConsentContainer {
        max-width: 100%;
        bottom: 0;
    }

    .cookieDesc p {
        display: grid !important;
    }

    .cookieDesc a {
        margin-top: 15px;
    }
}